<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras
      <ion-card-subtitle *ngIf="itemsCarrito.length>0" style="display: right; margin-top: 5px;">Total: $ {{total |
        number:'1.2-2'}}
      </ion-card-subtitle>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-card-subtitle style="display: right;">Total: $ {{total | number:'1.2-2'}}&nbsp;Items: {{cantItems}}</ion-card-subtitle> -->
    <ion-icon *ngIf="cantItems != 0" (click)="facturar()" slot="end" name="cash" color="success"
      style="margin-right: 3%; width: 50px; height: 25px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="itemsCarrito.length<=0" style="text-align: center;">
    <ion-label  style="text-align: center; padding-bottom: 50%;">
      <h1 style="padding-top: 50%;"> Su carrito está vacío </h1> <br>
      <h1> ¡Ir a la sección de productos para agregar! </h1> <br>
      <img src="https://cdn-icons-png.flaticon.com/512/2038/2038854.png"
        style="padding-left: 25%; padding-right: 25%;">
    </ion-label>
  </div>
  <ion-grid *ngFor="let item of itemsCarrito; let i = index">
    <ion-row style="text-align: center;" justify-content-center>
      <ion-col padding size-xs="12" size-sm="12" size-md="12" size-lg="12" align-self-stretch>
        <ion-card>
          <ion-row style="text-align: center;">
            <ion-card-title
              style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;">
              {{item.nomPro}}
            </ion-card-title>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src={{item.imgPro}}
                style="height: auto; width: auto; margin-top: auto; margin-bottom: auto; margin-left: 10px" />
            </ion-col>
            <ion-col style="margin-top: auto; margin-bottom: auto;">

              <br>
              <b> <span style="margin-left: 10px;">Precio: $ {{item.puPro | number:'1.2-2'}}</span></b> <br>
              <br>
              <b> <span style="margin-left: 10px;">Cantidad: {{item.catProNavigation}}</span></b>
              <br>
              <br>
              <ion-button color="success" [disabled]="item.catProNavigation <= 1" (click)="restProduct(i)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <ion-button color="success" [disabled]="item.catProNavigation >= item.stockPro" (click)="addProduct(i)">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
              <br>
              <br>
              <b> <span style="margin-left: 10px;">Subtotal: $ {{item.puPro * item.catProNavigation |
                  number:'1.2-2'}}</span></b>
              <br>
              <br>
              <ion-button color="danger" (click)="eliminar(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <ion-button *ngIf="itemsCarrito.length>0" (click)="vaciar()" color="danger">VACIAR CARRITO</ion-button>
  </div>
</ion-content>