<p>
    <mat-toolbar color="primary">
      <mat-icon matSuffix style="margin-right: 10px;">shopping_basket</mat-icon>
      <span>Sistema de Ventas</span>
      <button mat-button  style="margin-left: 2%;" [routerLink]="['/dashboard']">Facturas</button>
      <button mat-button [routerLink]="['/dashboard/ventas']">Nueva Venta</button>
      <button mat-button *ngIf="!esUser" [routerLink]="['/dashboard/productos']">Productos</button>
      <button mat-button *ngIf="!esUser" [routerLink]="['/dashboard/clientes']">Clientes</button>
      <button mat-button *ngIf="!esUser" [routerLink]="['/dashboard/usuarios']">Usuarios</button>
      <span class="example-spacer"></span>
      <span style="margin-right: 2%;">{{cookie.usuario.nombre}}</span>
      <button mat-button [routerLink]="['/login']" (click)="logout()" mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
